numpy
pandas
matplotlib
scikit-learn
seaborn
tensorflow
opencv-python
streamlit
pillow
nltk
gensim
python-dotenv
kaggle
emoji
spacy
gensim
wordcloud
kaggle
torch
torchvision
torchinfo